*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    line-height:1.6;
}

header{
    background:#0d47a1;
    padding:15px;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav h2{
    color:white;
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin-left:20px;
}

nav ul li a{
    color:white;
    text-decoration:none;
}

.hero{
    height:90vh;
    background:url('https://images.unsplash.com/photo-1540747913346-19e32dc3e97e?auto=format&fit=crop&w=1400&q=80');
    background-size:cover;
    background-position:center;
    color:white;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.hero h1{
    font-size:55px;
}

.hero button{
    padding:12px 25px;
    margin-top:20px;
    border:none;
    background:#ff9800;
    color:white;
    cursor:pointer;
}

section{
    padding:60px 10%;
}

h2{
    text-align:center;
    margin-bottom:30px;
}

.team-container{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.player-card{
    width:250px;
    background:#f4f4f4;
    padding:20px;
    text-align:center;
    border-radius:10px;
}

.player-card img{
    width:100%;
    border-radius:10px;
}

table{
    width:100%;
    border-collapse:collapse;
}

table th,
table td{
    border:1px solid #ddd;
    padding:12px;
    text-align:center;
}

.gallery{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
    justify-content:center;
}

.gallery img{
    width:300px;
    border-radius:10px;
}

form{
    max-width:500px;
    margin:auto;
}

form input,
form textarea{
    width:100%;
    padding:12px;
    margin-bottom:15px;
}

form button{
    width:100%;
    padding:12px;
    background:#0d47a1;
    color:white;
    border:none;
}

footer{
    background:#111;
    color:white;
    text-align:center;
    padding:20px;
}